{{!< default}}

{{!-- Page header area --}}
{{#post}}
  {{#if feature_image}}
    <div class="page-header">
      <div class="page-header__img lazyload" data-src="{{img_url feature_image}}">
      </div>
    </div>
  {{else}}
    <h1 class="page__title" style="margin-left: auto; margin-right: auto;">{{title}}</h1>
  {{/if}}
{{/post}}

{{!-- The main content area on the Contact page --}}
<div class="projects" style="margin-left: auto; margin-right: auto">
        <div id="sushi-go">
            <a href="/sushi-go/">
                <h2>Sushi Go!</h2>
                <p>This is a classic card game that's fun and quick to play with friends.
                    Regardless of whether you are a sushi lover, Sushi Go is a great game to bond 
                    with your friends! If you have never played the game before, you will have a
                    chance to try it out electronically in a 2 player mode. The game is developed in 
                    Python utilizing a variety of data structures such as lists and dictionaries, conditional statements, 
                    arithmetic operators, functions, classes and objects, and loops. 
                </p>
            </a>
        </div>
        <div id="pocket-chef">
            <a href="/pocket-chef/">
                <h2>Pocket Chef</h2>
                <p>Having trouble figuring out what to do with leftover items in your fridge? We have a food recipe finder 
                    that can search the input ingredients in your fridge. Select and apply filters like culture, dietary preferences, 
                    entree type and the program will return you top recipes. If you are a registered user, you will also be able to 
                    see a history of recipes that you have selected in the past. This is a useful feature for those who like to resort 
                    to delicious and familiar recipes they have come across previously...
                </p>
            </a>
        </div>
        <div id="gas-go">
            <a href="/gas-go/">
                <h2>Gas$Go</h2>
                <p>Out of the many essentials we have to pay for, money spent on gas might be the hardest to keep track of due to the 
                  always changing prices. Gas$Go is an iOS application in Swift designed for users to keep track of their gas receipts 
                  as well as the date and location for each gas fill up. The app also supports Vietnamese alongside English. Once logged 
                  in, you can keep track of your profile, store your car model, and your gas receipts. Utilizing TableView, delegates and 
                  datasource, UIImage picker, localization and internalization, segues, and other techniques. To authorize users for 
                  registration and login, I used Firebase Authentication. I also use Firestore and Firebase Storage to store the users’ 
                  profile pictures and receipts they entered.
                </p>
            </a>
        </div>
        <div id="weatherreport">
            <a href="/weatherreport/">
                <h2>WeatherReport</h2>
                <p>WeatherReport is a program developed in Python that takes cities as inputs and then retrieves weather report information 
                  from Weather API for the corresponding city and outputs the report. This project utilizes functions for program logistics, 
                  lists to store different report details and cities, and JSON parsing to retrieve weather information from the API.
                </p>
            </a>
        </div>
        <div id="thachma-com">
            <a href="/thachma-com/">
                <h2>thachma.com</h2>
                <p>This is a site which I built in memory of my dad. He was a pastor and committed his whole life to serving God and his given 
                  ministry. I would like to continue spreading God’s Word to others and uphold my dad’s legacy by building a site that contains 
                  his sermons and lessons recorded across all platforms. I built the website using HTML/CSS, bootstrap, JQuery, and Javascript. 
                </p>
            </a>
        </div>
</div>